<!DOCTYPE html>
<head>
	<link href="https://cdn.rawgit.com/mdehoog/Semantic-UI/6e6d051d47b598ebab05857545f242caf2b4b48c/dist/semantic.min.css" rel="stylesheet" type="text/css" />
	<link href="https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
	<link href="https://netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">
	<link rel="stylesheet" href="https://npmcdn.com/leaflet@1.0.0-rc.3/dist/leaflet.css" />
  {{> head}}
	<script src="https://npmcdn.com/leaflet@1.0.0-rc.3/dist/leaflet.js"></script>
    <link rel="stylesheet" type="text/css" href="css/main.css">
    <script src="js/leaflet-heat.js"></script>
</head>
<body>
  {{> header}}

  {{> start}}
  <div id="chart">
    <div class="title">
        <div class="ui container" id="inputs">
            <div class="ui calendar input_field" id="datepicker">
                <span>查詢日：</span>
                <div class="ui input left icon">
                    <i class="calendar icon"></i>
                    <input type="text" placeholder="調查日期">
                </div>
            </div>
            <div class="input_field">
                <span>查詢區：</span>
                <div class="ui search selection dropdown" id="district_area">
                    <input type="hidden" name="country">
                    <i class="dropdown icon"></i>
                    <div class="default text">選擇區</div>
                    <div class="menu">
                        <div class="item" data-value="">所有區</div>
                        <div class="item" data-value="東區">東區</div>
                        <div class="item" data-value="北區">北區</div>
                        <div class="item" data-value="中西區">中西區</div>
                        <div class="item" data-value="安平區">安平區</div>
                    </div>
                </div>
            </div>
            <div id="summarized_info">
            </div>
            <!--	<div class="input_field">
				  	<span>里：</span>
				  	<div class="ui search selection dropdown" id="district_area">
					  	<input type="hidden" name="country">
						  <i class="dropdown icon"></i>
						  <div class="default text">選擇里</div>
						  <div class="menu">
						  	  <div class="item" data-value="">所有里</div>
							  <div class="item" data-value="大同里">大同里</div>
							  <div class="item" data-value="大智里">大智里</div>	  
							  <div class="item" data-value="大福里">大福里</div>	  
							  <div class="item" data-value="大德里">大德里</div>	  
						  </div>
					</div>
				</div>-->
            <br/>
        </div>
        <div class="ui container">
            <div class="ui three stackable cards" id="cards_content">
            </div>
        </div>
  </div>
  {{> end}}
	<script src="https://cdn.rawgit.com/mdehoog/Semantic-UI/6e6d051d47b598ebab05857545f242caf2b4b48c/dist/semantic.min.js"></script>
    <script src="js/main.js"></script>
  {{> footer}}
</body>
